connectors {
  kafka_producer {
    my-kafka {
      bootstrap_hosts = "kafka:9092"
      authentication = "none"
      connect_timeout = "5s"
      enable = false
      metadata_request_timeout = "5s"
      min_metadata_refresh_interval = "3s"
    }
  }
}

actions {
  kafka_producer {
    my-kafka {
      connector = "my-kafka"
      enable = false
      parameters {
        topic = "pdm.fd001.raw"
        message {
          key = "${.clientid}"
          timestamp = "${.timestamp}"
          value = "${.payload}"
        }
        partition_strategy = "random"
        required_acks = "all_isr"
        max_inflight = 10
      }
    }
  }
}

rule_engine {
  ignore_sys_message = true
  jq_function_default_timeout = "10s"
  rules {
    "data-to-kafka" {
      actions = ["kafka_producer:my-kafka"]
      description = ""
      enable = false
      metadata {created_at = 1683872802918}
      name = ""
      sql = "SELECT\n  payload\nFROM\n  \"factory/#\""
    }
  }
}
